list Operation

In [10]:
mylst = [1,2,[10,11]]

In [11]:
print(mylst[2][0])

10

Distionary data access

In [12]:
d={'k1':{'innerkey':[1,2,3]}}

In [13]:
print(d['k1'])

{'innerkey': [1, 2, 3]}

In [14]:
print(d['k1']['innerkey'][1])

2

Tupple's operation

In [15]:
t = (1,2,3)

In [16]:
t[0]

1

In [17]:
t[0] = 14

TypeError: 'tuple' object does not support item assignment

Set property

In [18]:
s = {1,1,2,3,4,2}

In [19]:
s

{1, 2, 3, 4}

In [20]:
print(s)

{1, 2, 3, 4}

In [21]:
s.add(5)

In [22]:
s

{1, 2, 3, 4, 5}

Loops

In [23]:
my_list = [1,2,3]

In [24]:
for var in my_list:
    print(var)

1
2
3

In [25]:
a = [1,2,3]
b = [3,4,5]

In [53]:
for vara in a:
    for varb in b:
        print (vara)
        print (varb)

1
3
1
4
1
5
2
3
2
4
2
5
3
3
3
4
3
5

In [55]:
i=0
while i<=15:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [61]:
print(len(s))

5

In [63]:
print(len(t))

3

In [64]:
string = "hi my name is Dhaval"

In [65]:
print(len(string))

20

Functions

In [70]:
def my_function(name):
    print("my Name is "+ name)
my_function("Dhaval")

my Name is Dhaval

In [71]:
my_function("ABC")

my Name is ABC

In [111]:
def sum(a,b):
    c=a+b
    print(c)
sum(5,5)

10

Lambda function

In [83]:
t= lambda x : x*2

In [84]:
t(2)

4

In [110]:
t1= lambda x,a,b,c: x=a+b+c

SyntaxError: cannot assign to lambda (2297568868.py, line 1)

In [86]:
t1(5,4,6,3)

18

In [115]:
t2= lambda a,b,c: a+b+c

In [116]:
t2(8,9,45)

62

Map

In [105]:
maplst=[1,2,3]

Filter

In [108]:
myfltlst =[2,3,4,5]
list(filter(lambda num:num%2==0,myfltlst))

[2, 4]